*{
    margin: 0
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contain{
    position: static;
    width: 800px;
    height: 750px;
    border: solid black 1px;
    background-color: #faa;
    z-index: 1;
}
.contain-fondo{
    width: 500px;
    height: 750px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    outline: solid black 1px;
}
.contain-box{
    width: 300px;
    height: 300px;
    position: relative;
    bottom: 550px;
    left: 100px;
    z-index: 5;
    background-color: white;
    border-radius: 25px;
    border: solid black 5px;
}
h2{
    position: relative;
    z-index: 6;
    text-align: center;
    color: orangered;
}
.form-label{
    display: block;
}
.check{
    position: relative;
    left: 35px;
}

.form-input::placeholder{
    background-color: yellow;
    color: red;
}
.form-label{
    font-size: 20px;
}
#usuario{
   font-size: 13px;
   padding: 5px;
   margin: 5px;
}
#password{
    font-size: 13px;
    padding: 5px;
    margin: 5px;
 }

#registrar{
    position: relative;
    left: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    width: 110px;
 }

 #ingresar{
    position: relative;
    left: 70px;
    font-family: 'Times New Roman', Times, serif;
    border: solid black 2px;
    border-radius: 5px;
    font-size: 17px;
    background-color: greenyellow;
    cursor: pointer;
    width: 110px;
 }
 #exit{
    position: relative;
    bottom: 245px;
    left: 45px;
    z-index: 7;
    cursor: pointer;
    background-color: #f30;
    border-radius: 5px;
    padding: 5px;
    border: solid black 2px;
    text-decoration: none;
    color: black;
 }
 .contain-box{
    background-color:#dee;
 }
 .disabled{
        border:none !important;
        color: transparent;
        background-color: #dee !important;
        pointer-events: none;
        cursor: default;
      }